.header{
    padding: 30px 0;
    color: rgb(223, 220, 59);
    background-color: #101d42;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid #db1616;
    margin-bottom: 10px;
}

p {
    color: white;
}
