th {
    color:#27428b;
    text-align: center;
    padding: 1rem 1rem;

    /* background-color: #101d42; */
}
td {
  text-align: center;  
  margin: 2%;
  text-align: center;
  padding: 1rem;
  border-bottom: rgb(231, 233, 228) 5px solid;
}


thead {
    text-align: center;
}

table {
    text-align: center;
    margin-left: 15%;
    line-height: 1.5rem;
}

.fas {
   color: #27428b;
   opacity: 60%;
   padding-left: 4%;
}

.fas:hover {
    opacity: 100%;
}