th {
    color:tomato;
    text-align: center;
    /* background-color: #101d42; */
}
td {
  text-align: center;  
  margin: 2%;
  text-align: center;
}

thead {
    text-align: center;
}

table {
    margin-left: 15px;
}